.u-title {
    color: #3a945b;
    font-size: 1.2em;
    border-bottom: 2px dashed seagreen;
    font-weight: normal;
    text-align: center;
    padding-bottom: 1em;
}

.Header {
    margin-top: 3.75em;
    background: url("../img/fondo.png") no-repeat center;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.Header-image {
    margin-top: 15em;
    border-radius: 50%;
    width: 10%;
}

.Header-name {
    color: white;
    font-size: 2.2em;
    font-weight: bold;
}

.Header-link {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 300;
}

.MainMenu {
    background: #e1e1e1;
    text-align: center;
    height: 3.75em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

}

.MainMenu-list {
    margin: 0;
    padding: 0;
}

.MainMenu-item {
    display: inline-block;

}

.MainMenu-link {
    color: goldenrod;
    text-decoration: none;
    line-height: 3.75em;
    margin-right: 1.75em;
}

.Profile {
    text-align: center;
}

.Profile-link {
    background: orange;
    color: white;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 1em;
    margin-right: .5em;

}

.Work {
    margin-top: 2em;
    text-align: center;
}

.Work-item {
    display: inline-block;
    margin-right: 1.8em;
    width: 20%;
    margin-bottom: 1.8em;

}

.Work-imageContainer {
    margin: 0;
}

.Work-image {
    width: 100%;
}

.Work-description {
    color: #4d4d4d;
    font-size: 1.5em;
    font-style: italic;
}

.Footer {
    background: url("../img/fonde3.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 1em;
}

.Footer-title {
    color: white;
    font-size: 2em;
    margin: 0;
}

.Footer-description {
    color: white;

}

.Footer-left {
    display: inline-block;
    width: 32em;
    text-align: center;
    vertical-align: top;
}

.Footer-right {
    display: inline-block;
}

.Footer-from {
    text-align: center;
}

.Footer-formInput, .Footer-textArea {
    background: white;
    border: none;
    display: block;
    border-radius: .5em;
    padding: .5em;
    margin: 0 auto 1em;

}

.Footer-btm {
    background: orange;
    border-radius: .5em;
    padding: .5em 1em;
}